{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Python Bangladesh is the largest Python User Group from Bangladesh with over 6K+ registered members. It is a platform for the python enthusiasts to learn, share and grow together. Our facebook group is the center of our online activities. We also do offline meetups and arrange PyCons. ">
    <meta name="author" content="http://www.pybd.org">
    <link rel="icon" href="favicon.ico">

    <title>Python Bangladesh Community</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'bootstrap/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'pybd.css' %}" rel="stylesheet" type="text/css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'bootstrap/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <script src="{% static 'bootstrap/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<nav class="navbar navbar-inverse navbar-fixed-top pybd-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					PyBD Logo
					<!--<img src="assets/img/logo.jpg">-->
				</a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav pybd-menu">
					<li class=""><a href="">Podcasts</a></li>
					<li class=""><a href="">Facebook Q/A</a></li>
					<li class=""><a href="">Bengli Q/A</a></li>
					<li class=""><a href="">Projects</a></li>
					<li class=""><a href="">Free Resouces</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <div class="container">
    	<div class="row pybd-topics">
    		<div class="col-sm-4 col-md-8">
		      	<div class="row">
			        <div class="col-sm-12 col-md-6">
				        <div class="thumbnail topics">
					        <div class="topics-title">
				        		<div class="topics-title-left">
				        			<h4>PODCASTS</h4>
				        		</div>
				        		<div class="topics-title-right">
				        			<h4><a href="">See All</a></h4>
				        		</div>
				        	</div>

				        	<div class="caption topics-content clearfix">
                                <div class="podcast-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="podcast-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="podcast-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="podcast-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>
				        </div>
			        </div>

			        <div class="col-sm-12 col-md-6">
			          	<div class="thumbnail topics">
					        <div class="topics-title">
				        		<div class="topics-title-left">
				        			<h4>FACEBOOK Q/A</h4>
				        		</div>
				        		<div class="topics-title-right">
				        			<h4><a href="">See All</a></h4>
				        		</div>
				        	</div>

                            <div class="caption topics-content clearfix">
                                <div class="qa-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-circle">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="qa-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-circle">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="qa-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-circle">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="qa-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-circle">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>
				        </div>
			       </div>
		      	</div>

				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="thumbnail topics">
							<div class="topics-title">
								<div class="topics-title-left">
									<h4>FREE RESOURCSES</h4>
								</div>
								<div class="topics-title-right">
									<h4><a href="">See All</a></h4>
								</div>
							</div>

                            <div class="caption topics-content clearfix">
                                <div class="free-resource-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="free-resource-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="free-resource-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6">
						<div class="thumbnail topics">
							<div class="topics-title">
								<div class="topics-title-left">
									<h4>BENGALI Q/A</h4>
								</div>
								<div class="topics-title-right">
									<h4><a href="">See All</a></h4>
								</div>
							</div>

                            <div class="caption topics-content clearfix">
                                <div class="qa-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-circle">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="qa-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-circle">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="qa-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-circle">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>

                            <div class="caption topics-content clearfix">
                                <div class="qa-left">
                                    <img src="http://placehold.it/400x250/000/fff" alt="" class="img-circle">
                                </div>
                                <div style="">
                                    <p>Donec id elit non mi porta gravida at eget metus. </p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
		    </div>

    		<div class="col-sm-2 col-md-4">
    			<div class="thumbnail latest-blog">
			        <div class="topics-title">
		        		<div class="topics-title-left">
		        			<h4>LATEST BLOG POSTS</h4>
		        		</div>
		        		<div class="topics-title-right">
		        			<h4><a href="">See All</a></h4>
		        		</div>
		        	</div>

					<div class="caption topics-content">
						<div class="row clearfix">
							<div class="col-md-12">
								<h3>Blog Title 1</h3>
                                <div class="latest-blog-left">
                                    <img src="http://placehold.it/140x100/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div>
                                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                                </div>
                            </div>
						</div>

						<div class="row clearfix">
							<div class="col-md-12">
								<h3>Blog Title 2</h3>
                                <div class="latest-blog-left">
                                    <img src="http://placehold.it/140x100/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div>
                                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                                </div>
							</div>
						</div>

                        <div class="row clearfix">
							<div class="col-md-12">
								<h3>Blog Title 3</h3>
                                <div class="latest-blog-left">
                                    <img src="http://placehold.it/140x100/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div>
                                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                                </div>
							</div>
						</div>

                        <div class="row clearfix">
							<div class="col-md-12">
								<h3>Blog Title 4</h3>
                                <div class="latest-blog-left">
                                    <img src="http://placehold.it/140x100/000/fff" alt="" class="img-thumbnail">
                                </div>
                                <div>
                                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                                </div>
							</div>
						</div>
					</div>
		        </div>
    		</div>
    	</div>

      	<div class="row">
      		<div class="col-sm-12">
				<section class="project-showcase">
					<h3>PROJECT SHOWCASE</h3>
				</section>
			</div>
		</div>

		<div class="row">
	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Project Title 1</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <br/><a class="btn btn-warning" href="">View details &raquo;</a>
	                </div>
	            </div>
	        </div>

	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Project Title 2</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <br/><a class="btn btn-warning" href="">View details &raquo;</a>
	                </div>
	            </div>
	        </div>

	       <div class="col-sm-6 col-md-3">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Project Title 3</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <br/><a class="btn btn-warning" href="">View details &raquo;</a>
	                </div>
	            </div>
	        </div>

	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Project Title 4</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <br/><a class="btn btn-warning" href="">View details &raquo;</a>
	                </div>
	            </div>
	        </div>
      	</div>

      	<div class="row">
	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Project Title 5</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <br/><a class="btn btn-warning" href="">View details &raquo;</a>
	                </div>
	            </div>
	        </div>

	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Project Title 6</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <br/><a class="btn btn-warning" href="">View details &raquo;</a>
	                </div>
	            </div>
	        </div>

	       <div class="col-sm-6 col-md-3">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Project Title 7</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <br/><a class="btn btn-warning" href="">View details &raquo;</a>
	                </div>
	            </div>
	        </div>

	        <div class="col-sm-6 col-md-3">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Project Title 8</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <br/><a class="btn btn-warning" href="">View details &raquo;</a>
	                </div>
	            </div>
	        </div>
      	</div>

      <hr>
      <footer>
        <p>&copy; 2016 Python Bangladesh Community</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'bootstrap/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
